@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceLeft {
  0%,  
  100% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes bounceDown {
  0%,  
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounceDownSoft {
  0%,  
  100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: .9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes throbTilt {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  25% {
    transform: scale(1.1) skew(0.02turn, -2deg);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  75% {
    transform: scale(1.1) skew(-0.02turn, 2deg);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

@keyframes rotateX360 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotateY360 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotateY720 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

@keyframes rotateZ360 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(720deg);
  }
}

@keyframes rotateZ360_reverse {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-$background-image-width-smallest, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d($background-image-width-smallest, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flash {
  0% {
    color: $color-primary;
  }
  25% {
    color: $color-secondary;
  }
  50% {
    color: $color-tertiary;
  }
  75% {
    color: $color-quaternary;
  }
}

@keyframes strobeDown {
  0% {
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-light, $color-primary-light-alpha, $color-white-alpha);
  }
  25% {
    background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-light, $color-secondary-light-alpha, $color-white-alpha);
  }
  50% {
    background-image: linear-gradient(to bottom, $color-tertiary, $color-tertiary-light, $color-tertiary-light-alpha, $color-white-alpha);
  }
  75% {
    background-image: linear-gradient(to bottom, $color-quaternary, $color-quaternary-light, $color-quaternary-light-alpha, $color-white-alpha);
  }
}

@keyframes strobeUp {
  0% {
    background-image: linear-gradient(to top, $color-primary, $color-primary-light, $color-primary-light-alpha, $color-white-alpha);
  }
  25% {
    background-image: linear-gradient(to top, $color-secondary, $color-secondary-light, $color-secondary-light-alpha, $color-white-alpha);
  }
  50% {
    background-image: linear-gradient(to top, $color-tertiary, $color-tertiary-light, $color-tertiary-light-alpha, $color-white-alpha);
  }
  75% {
    background-image: linear-gradient(to top, $color-quaternary, $color-quaternary-light, $color-quaternary-light-alpha, $color-white-alpha);
  }
}