// Vertical align items in the center
.center-items {
  display: flex;
  align-items: center;
}

.scale-1-5 {
  // transform: scale(1.5);
}

.page-min-height {
  min-height: $min-page-height;
}

.min-height-1440 {
  min-height: calc(#{$min-page-height} + 1440px);
}

.min-height-720 {
  min-height: calc(#{$min-page-height} + 720px);
}

.min-height-360 {
  min-height: calc(#{$min-page-height} + 360px);
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.center-text {
  text-align: center;
}

.center-items-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-base {
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.throb {
  animation: throb 2s infinite;
}

.throbTilt {
  animation: throbTilt 2s infinite;
} 

.strobeUpFast {
  animation: strobeUp 1s infinite;
} 

.strobeDownFast {
  animation: strobeDown 1s infinite;
} 

.strobeUpSlow {
  animation: strobeUp 100s infinite;
  transition: all 2s;
} 

.strobeDownSlow {
  animation: strobeDown 100s infinite;
  transition: all 2s;
}

.flash {
  animation: flash 3s infinite;
}

.bounceDown {
  animation: bounceDown 3s infinite;
}

.bounceLeft {
  animation: bounceLeft 1s infinite;
}

.loadingAnimation {
  animation: rotateZ360 3s infinite;
}

.pointer {
  cursor: pointer;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 1.5rem;
}

.height-zero {
  height: 0;
}

.image-width-small {
  width: 20rem;
}

.image-width-medium {
  width: 30rem;
}

.hover-rotate {
  &:hover {
    transition: all ease-out 1s;
    transform: rotateY(360deg);
  }
}

.bounceIn1 {
  animation: .5 linear .5s bounceIn;
}

.bounceIn2 {
  animation: .6 linear .6s bounceIn;
}

.bounceIn3 {
  animation: .7 linear .7s bounceIn;
}

.fadeIn {
  animation: .5 linear .5s fadeIn;
}

.fadeOut {
  animation: .5 linear .5s fadeOut;
}

.rotateX360 {
  animation: .6 linear .6s rotateX360;
}

.rotateY360 {
  animation: .6 linear .6s rotateY360;
}

.rotateY720 {
  animation: 1 linear 1s rotateY720;
}

.rotateZ360 {
  animation: .6 linear .6s rotateZ360;
}

