// Vertical align items in the center
.center-items {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.image-width-small {
  width: 20rem;
}

.image-width-medium {
  width: 30rem;
}

.hover-rotate {
  &:hover {
    transition: all ease-out 1s;
    transform: rotateY(360deg);
  }
}

.bounceIn1 {
  animation: .5 linear .5s bounceIn;
}

.bounceIn2 {
  animation: .6 linear .6s bounceIn;
}

.bounceIn3 {
  animation: .7 linear .7s bounceIn;
}

.fadeIn {
  animation: .5 linear .5s fadeIn;
}

.fadeOut {
  animation: .5 linear .5s fadeOut;
}

.rotateX360 {
  animation: .6 linear .6s rotateX360;
}

.rotateY360 {
  animation: .6 linear .6s rotateY360;
}

.rotateZ360 {
  animation: .6 linear .6s rotateZ360;
}
