@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin menu-font {
  font-size: 34px;
  cursor: pointer;
}

@mixin menu-font-small {
  font-size: 20px;
  cursor: pointer;
}

@mixin small-font {
  font-size: 14px;
  color: $color-quaternary;
  font-weight: 700;
  cursor: pointer;
}

@mixin big-font {
  font-size: 4rem;
  text-align: center;
  color: $color-primary-dark;
}

@mixin header-icon {
  padding: $header-icon-padding;
  flex-direction: column;
  display: flex;
  justify-content: center;
  transform: scale(1.5);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover-scale-medium {
  transition: transform .3s linear;
  &:hover {
    transform: scale(1.2);
  }
}

@mixin hover-scale-bidirectional {
  transform: scale(1);
  transition: transform .3s;
  &:hover {
    transform: scale(1.02);
    transition: transform .4s;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

