// COLORS
$color-primary: #755680;
$color-primary-light: #9d73ac;
$color-primary-light-alpha: #9d73acee;
$color-primary-dark: #5b4364;

$color-secondary: #b6a064;
$color-secondary-light: #d1b872;
$color-secondary-light-alpha: #d1b872ee;
$color-secondary-dark: #978552;

$color-tertiary: #5e8d62;
$color-tertiary-light: #80c085;
$color-tertiary-light-alpha: #80c085ee;
$color-tertiary-dark: #476b4a;

$color-quaternary: #215add;
$color-quaternary-light: #436ed4;
$color-quaternary-light-alpha: #436ed4ee;
$color-quaternary-dark: #0847da;
$color-quaternary-2: #485b88;
$color-quaternary-2-light: #6079b8;
$color-quaternary-2-dark: #374669;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #f4f5fa;
$color-white-alpha: #f4f5fadd;
$color-black: #000;

// FONT
$default-font: 'Do Hyeon', sans-serif;
$default-font-weight: 700;
$default-font-size: 1.6rem;
$large-font: 2.5rem;
$smallest-font: 1.2rem;

// IMAGES
$background-image-width: 3382 + px;
$background-image-width-small: ($background-image-width / 10) + px;
$background-image-width-smallest: ($background-image-width-small / 10) + px;

// EL HEIGHTS AND WIDTHS
$footer-height: 150px;
$header-height: 100px;
$header-height-offset: calc(.5 * #{$header-height});
$site-menu-offset: calc(-100vh + #{$header-height-offset});
$header-icon-padding: 13px;
$min-page-height: calc(100vh - #{$footer-height});
$youtube-video-width: 640px; 
$youtube-video-height: 360px;
$live-video-width: 640px; 
$live-video-height: 360px;