.bios {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  &__pic {
    width: 100%;
    max-width: 40rem;
    height: auto;
  }
  &__buttons {
    width: 80%;
    @include flex-center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    &--button {
      box-shadow: $subtle-shadow;
      @include paragraph-font;
      color: $color-primary;
      background: $color-white;
      margin: 2px;
      padding: 1rem;
      width: 200px;
    }
  }
  &__bio {
    width: 80%;
    margin-top: 4rem;
    & p:first-of-type {
      margin-top: 2rem;
      border-radius: 6px 6px 0 0;
    }
    & p:last-of-type {
      margin-bottom: 2rem;
      border-radius: 0 0 6px 6px;
    }
    &--title {
      @include big-font;
    }
    &--nickname {
      font-size: 2rem;
      text-align: center;
      color: $color-grey-dark-2;
      &-dark {
        font-size: 3rem;
        color: $color-grey-dark-3;
      }
    }
    &--paragraph {
      @include paragraph-font;
      width: 100%;
      padding: 2rem;
      color: $color-white;
      text-align: left;
      &-1 {
        background-color: $color-primary-dark;
      }
      &-2 {
        background-color: $color-secondary-dark;
      }
      &-3 {
        background-color: $color-tertiary-dark;
      }
      &-4 {
        background-color: $color-quaternary-dark;
      }
    }
  }
}

@media only screen and (max-width: $live-video-width) {
  .bios {
  }
}