.home {
  min-width: 100vw;
  background-color: $color-black;
  @include flex-center;
  &-img {
    max-width: 50%;
    margin-top: $footer-height / 2;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    &-img {
      max-width: 100%;
    }
  }
}
