.live {
  min-width: 100vw;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  &-subtitle {
    @include flex-center;
    @include big-font;
    text-align: center;
    color: $color-primary;
  }
  &__video {
    margin: 2rem;
    @include flex-center;
    flex-direction: column;
    &--player {
      width: 100%;
      height: 100%;
      flex-grow: 1;
      border: none;
      margin: 0;
      padding: 0;
      &-refresh {
        margin: 1rem;
        text-decoration: underline;
        color: $color-quaternary-2-light;
        cursor: pointer;
        font-size: large;
      }
      &-content {
        @include flex-center;
        flex-direction: column;
        & iframe {
          margin: 2rem 0;
        }
      }
      &-size {
        @include flex-center;
        margin: 2rem;
        &-s {
          @include small-font;
          @include regular-button($color-secondary, $color-white, $color-secondary);
          margin: 0 1rem;
        }
        &-m {
          @include small-font;
          @include regular-button($color-tertiary, $color-white, $color-tertiary);
          margin: 0 1rem;
        }
        &-l {
          @include small-font;
          @include regular-button($color-quaternary, $color-white, $color-quaternary);
          margin: 0 1rem;
        }
        &-selected {
          transform: scale(1.2);
          border-color: $color-black;
        }
      }
    }
  }
}

@media only screen and (max-width: $live-video-width) {
  .live {
    // Temp fix while using Twitch chat widget
    min-height: calc(#{$min-page-height} + 720px) !important;
    &__video {
      width: calc(0.5 * #{$live-video-width});
      height: calc(0.5 * #{$live-video-height});
      &--title {
        font-size: 2rem;
      }
      &--player {
        &-content {
          padding-bottom: $footer-height;
        }
        &-chat {
          min-height: 400px;
        }
      }
    }
  }
}