.schedule {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  &__buttons {
    @include flex-center;
    margin: 2rem;
    @include small-font;
    &-up-coming {
      @include regular-button($color-secondary, $color-white, $color-secondary);
      margin: 0 1rem;
    }
    &-all {
      @include regular-button($color-tertiary, $color-white, $color-tertiary);
      margin: 0 1rem;
    }
    &-selected {
      transform: scale(1.2) !important;
      border-color: $color-black;
    }
  }
  &__up-coming {
    width: 95%;
    max-width: 800px;
    height: auto;
    margin: 1rem;
  }
  &__no-up-coming {
    text-align: center;
    @include paragraph-font;
  }
  &__table {
    margin-bottom: 2rem;
    & thead tr th {
      @include big-font;
      color: $color-quaternary;
      &:hover {
        background-color: $color-quaternary;
        color: $color-white;
      }
    }
    & tbody tr td {
      @include paragraph-font;
      color: $color-white;
      padding: 2rem;
    }
    &--row {
      &-odd {
        background-color: $color-tertiary;
        & td:hover {
          color: $color-white;
          background-color: $color-quaternary;
        }
      }
      &-even {
        background-color: $color-secondary;
        & td:hover {
          color: $color-white;
          background-color: $color-quaternary;
        }
      }
    }
  }
}