.footer {
  background-color: $color-primary;
  min-height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    & svg {
      margin-left: 4rem;
    }
  }
}