.footer {
  height: $footer-height;
  background-image: linear-gradient(to top, $color-primary, $color-primary-light, $color-primary-light-alpha, $color-white-alpha);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  &__anchor {
    display: flex;
    flex-direction: column;
    min-height: calc(.75 * #{$footer-height});
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
    animation: bounceDownSoft 3s infinite;
  }
  &__title {
    font-size: $large-font;
    color: $color-white;
    text-align: center;
  }
  &__attribution {
    font-size: $smallest-font;
    color: $color-white;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
    & a {
      margin-left: 4rem;
    }
    & a:first-of-type {
      margin-left: 0rem;
    }
  }
}