.header {
  height: $header-height;
  position: fixed;
  z-index: 1000;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary-light, $color-primary-light-alpha, $color-white-alpha);
  &__anchor {
    display: flex;
    flex-direction: row;
    min-height: $header-height-offset;
    top: 0;
    left: 0;
    width: 100vw;
    animation: bounceDownSoft 3s infinite;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    padding: $header-icon-padding;
    justify-content: flex-start;
    height: 100%;
    & a {
      margin-left: 1rem;
    }
    & a:first-of-type {
      margin-left: 0rem;
    }
  }
  &__back-icon {
    display: flex;
    flex-direction: column;
    padding: $header-icon-padding;
    justify-content: flex-start;
    color: $color-white;
    font-size: 16px;
    cursor: pointer;
  }
  &__player-minimised {
    @include header-icon;
    margin-left: auto;
  }
  &__player {
    @include header-icon;
  }
  &__watch-live {
    @include header-icon;
    padding: 1.8rem 1.3rem 1.3rem;
    &--icon {
      width: 3rem;
      height: auto;
      text-transform: uppercase;
    }
  }
  &__burger {
    @include header-icon;
  }
  &__menu-icon {
    z-index: 100;
  }
}