.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: $header-height;
  min-height: calc(100vh - #{$footer-height});
  min-width: 100vw;
  background-color: $color-white;
  color: black;
  &__message {
    font-size: 4rem;
    text-align: center;
    color: $color-primary-dark;
  }
  animation: fadeInOut ease-in-out 3s infinite;
  opacity: 0;
  z-index: -1;
  & img {
    width: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .loader {
    & img {
      width: 300px;
    }
  }
}
