.loader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: $header-height;
  min-height: calc(100vh - #{$footer-height});
  min-width: 100vw;
  background-color: $color-white;
  color: black;
  &__message {
    @include big-font;
    font-size: 3rem;
    margin-bottom: 1rem;
    max-width: 80%;
  }
  animation: fadeInOut ease-in-out 3s infinite;
  opacity: 0;
  z-index: -1;
  & img {
    width: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .loader {
    & img {
      width: 250px;
    }
    &__message {
      font-size: 2.5rem;
    }
  }
}
