.player {
  @include flex-center;
  height: 80vh;
  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-white;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid $color-primary;
    position: relative;
    box-shadow: 2px 2px 2px 2px $color-primary-light;
    height: 70vh;
    text-align: center;
  }
  &__controls {
    @include flex-center;
    width: 100%;
  }
  &__skip {
    margin: 3rem;
    cursor: pointer;
    @include hover-scale-medium;
  }
  &__close-button {
    @include small-font;
    @include regular-button;
    z-index: 1000;
  }
}

@media only screen and (max-width: 600px) {
  .player {
    height: 80vh;
    width: 100vw;
    &__skip {
      margin: 0 1rem 0;
    }
    &__container {
      width: 98%;
      padding: 1rem;
    }
  }
}