.site_menu {
  position: absolute;
  width: 100vw;
  top: calc(.5 * #{$header-height});
  height: 1000%;
  left: 0;
  background-color: $color-secondary;
  background: radial-gradient(circle 100vw, $color-primary, $color-primary-light);
  opacity: 1;
  z-index: 1000;
}