.site_menu {
  @include menu-font;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  top: 100vh;
  height: calc(100vh - 0.5 * #{$header-height});
  left: 0;
  background: linear-gradient(to bottom, $color-primary-light, $color-primary, $color-primary-dark);
  border-radius: 10px 10px 0 0;
  opacity: 1;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  color: $color-white;
  &--open {
    transform: translateY($site-menu-offset);
  }
  &--closed {
    transform: translateY(0);
  }
  &__button {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    @include hover-scale-medium;
  }
}

@media only screen and (max-width: 600px) {
  .site_menu {
    @include menu-font-small;
    &--open {
      padding: 2rem 0 18rem 0;
    }
  }
}