.splash {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: seashell;
  color: black;
  & img {
    animation: bounce 2.5s infinite;
  }
  animation: fadeInOut ease 3s;
  opacity: 0;
  z-index: -1;
}

@media only screen and (max-width: 700px) {
  .splash {
    img {
      width: 300px;
    }
  }
}
